<h1>Let's fill in the acceptance criteria for each deliverable here!</h1>

<h2><%= "#{@project.name}: #{@project.show_student_pair}" %></h2>

<%= form_for @project do |f| %>
	<div>
		<h2> Deliverable 1</h2>
		<%= f.label :objective1, "Description" %>: <br>
		<%= f.text_area :objective1 , size: '60x6' %> <br>
		<%= f.label :objective1_goal1, "Goal 1" %>: <br>
		<%= f.text_area :objective1_goal1 , size: '60x6' %> <br>
		<%= f.label :objective1_goal2, "Goal 2" %>: <br>
		<%= f.text_area :objective1_goal2 , size: '60x6' %> <br>
		<%= f.label :objective1_goal3, "Goal 3" %>: <br>
		<%= f.text_area :objective1_goal3 , size: '60x6' %> <br>
		<%= f.label :objective1_goal4, "Stretch Goal" %>: <br>
		<%= f.text_area :objective1_goal4 , size: '60x6' %> <br>
	</div>

	<div>
		<h2>Deliverable #2</h2>
		<%= f.label :objective2, "Description"  %>: <br>
		<%= f.text_area :objective2, size: '60x6' %> <br>
		<%= f.label :objective2_goal1, "Goal 1" %>: <br>
		<%= f.text_area :objective2_goal1, size: '60x6' %> <br>
		<%= f.label :objective2_goal2, "Goal 2" %>: <br>
		<%= f.text_area :objective2_goal2, size: '60x6' %> <br>
		<%= f.label :objective2_goal3, "Goal 3" %>: <br>
		<%= f.text_area :objective2_goal3, size: '60x6' %> <br>
		<%= f.label :objective2_goal4, "Stretch Goal" %>: <br>
		<%= f.text_area :objective2_goal4, size: '60x6' %> <br>
	</div>

	<div>
		<h2> Deliverable #3</h2>
		<%= f.label :objective3, "Description"  %>: <br>
		<%= f.text_area :objective3 , size: '60x6' %> <br>
		<%= f.label :objective3_goal1, "Goal 1" %>: <br>
		<%= f.text_area :objective3_goal1 , size: '60x6' %> <br>
		<%= f.label :objective3_goal2, "Goal 2" %>: <br>
		<%= f.text_area :objective3_goal2 , size: '60x6' %> <br>
		<%= f.label :objective3_goal3, "Goal 3" %>: <br>
		<%= f.text_area :objective3_goal3 , size: '60x6' %> <br>
		<%= f.label :objective3_goal4, "Stretch Goal" %>: <br>
		<%= f.text_area :objective3_goal4 , size: '60x6' %> <br>
	</div>

	<%= f.submit %>

<% end %>





